.company {
    border: 1px solid rgba(197, 197, 197, 0.685);
    background-color: rgba(255, 0, 0, 0.144);
    padding: 10px 0;
}

.company p {
    margin: 5px 0;
}

.parah-text {
    display: flex;
    align-items: center;
    width: 100%;
}

.text {
    width: 40%;
}