.label-style {
    display: inline-block;
    width: 150px;
}

.input-style {
    width: 60%;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    color: grey;
    padding-left: 10px;
}

.sex {
    width: 150px;
    display: inline-block;
}

.sex-lable {
    display: inline-block;
    width: 100px;
}