.address {
    /* height: 60px; */
    background-color: rgba(190, 190, 190, 0.562);
    border: 1px solid rgba(187, 187, 187, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
    box-sizing: border-box;
}

.address p {
    margin: 0;
}

.title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}